/* CSS declarations go here */


#main {
	width: 480px;
	text-align: center;
}


#circle canvas {
	vertical-align: top;
}

.circle {
	margin: 6px 6px 20px;
	display: inline-block;
	position: relative;
	line-height: 1.2;
}

.circle strong {
	position: absolute;
	top: 74px;
	left: 0px;
	width: 100%;
	line-height: 40px;
	font-size: 30px;
	}